<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script type = "text/javascript">
        function Replace() {
         window.location.Replace("https://payments.anyemi.com/intiate.php");
        }
    </script> -->
</head>
<body>
    <!-- <form method="post" action=<%= url % name="f1" id="f1">' +
        <input type="text" name="msg" value=<%= hash % />' +
        </form><script type="text/javascript">document.f1.submit();</script></body> -->
        <h1>'Hii'</h1>
</body>
</html>